#This runs the Cloudflare Tunnel agent.

#Configure Cloudflare Tunnel:
#Zero Trust -> Networks -> Connectors 
#Add one of the services as the "Route Tunnel" host e.g. portainer.YOUR_DOMAIN - http://portainer:9000

#Setup Google IdP:
#https://developers.cloudflare.com/cloudflare-one/integrations/identity-providers/google/

#Add Google IdP setup to "Applications"
#Zero Trust -> Applications
TUNNEL_TOKEN=PASTE_YOUR_CLOUDFLARE_TUNNEL_TOKEN_HERE
