# Mullvad + WireGuard
VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard

# From Mullvad WireGuard config
WIREGUARD_PRIVATE_KEY=REPLACE_ME
WIREGUARD_ADDRESSES=REPLACE_ME_XX.XX.XX.XX/32

# Server selection (example)
SERVER_CITIES=London

# Allow local subnet access
LOCAL_NETWORK=192.168.1.0/24
