STREMTHRU_BASE_URL=http://YOURLOCALIP.:8082
STREMTHRU_PORT=8082
STREMTHRU_PROXY_AUTH=admin:EXAMPLEPASSWORD
STREMTHRU_AUTH_ADMIN=admin
STREMTHRU_DATA_DIR=/data
STREMTHRU_HTTP_PROXY=http://127.0.0.1:8888
STREMTHRU_STORE_CONTENT_PROXY=realdebrid:true
#Remove all stremthru addons to improve RAM usage
STREMTHRU_FEATURE=-dmm_hashlist,-imdb_title,-stremio_store,-stremio_torz,-stremio_list,-stremio_sidekick,-stremio_p2p,-anime,-vault
